/* By the name of Allah */

/* div{
    border: 1px solid red;
} */

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
    }
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
:root {
    --ff: "Poppins", sans-serif;
    
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-black: 900;
    
    --fs-n: normal;
    --fs-i: italic;

    --clr-red: #c41c1c;
    --clr-d-orange: #ff6500;
    --clr-l-orange: #ff8a08;
    --clr-yellow: #ffc100;

    --clr-facebook: hsl(221, 44%, 41%);
    --clr-instagram: hsl(4, 78%, 61%);
    --clr-telegram: hsl(200, 100%, 40%);
    --clr-tiktok: hsl(0, 0%, 0%);
    --clr-twitter: hsl(197, 100%, 47%);
    --clr-whatsapp: hsl(127, 54%, 54%);
    --clr-facebook-hover: hsl(221, 44%, 25%);
    --clr-instagram-hover: hsl(4, 78%, 45%);
    --clr-telegram-hover: hsl(200, 40%, 35%);
    --clr-tiktok-hover: hsl(0, 0%, 40%);
    --clr-twitter-hover: hsl(197, 100%, 33%);
    --clr-whatsapp-hover: hsl(127, 54%, 40%);
    }

html {
    scroll-behavior: smooth;
}
/******************** Global Styling "Start" ********************/
body {
    margin: 0;
    font-family: var(--ff);
    font-weight: var(--fw-medium);
    background-color: black;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 93%;
    margin: 0.5rem auto;
    display: grid;
    gap: 1.5rem;
    grid-template-areas: 
        'header . .'
        'main main nav'
        'footer footer footer';
    
    > * {
        box-shadow: 0 0 0.5rem 0 silver;
        border-radius: 1rem;
    }
}

/******************** Global Styling "End" ********************/



/******************** Header Styling "Start" ********************/
header {
    grid-area: header;
    grid-column: 1 / -1;

    #logo {
        align-self: center;
        justify-self: center;
    }

    #logo img {
        max-width: 5rem;
        border-radius: 1rem;
        vertical-align: middle;
    }

    #opening {
        display: none;
    }
}

nav {
    /* box-shadow: none !important; */
    grid-area: nav;
    height: max-content;
    width: max-content;
    position: sticky;
    top: 1rem;
    will-change: transform; /* For optimal scrolling without a delay glitch */
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    div {
        display: inline-flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        z-index: 7;
    }

    img {
        max-width: 2rem;
    }
}
/******************** Header Styling "End" ********************/



/******************** Main Styling "Start" ********************/
main {
    grid-area: main;
    padding-inline: 0.5rem;
    display: flex;
    flex-direction: column;

    #me {
        text-align: center;
    }

    #me img {
        max-width: 75%;
        vertical-align: middle;
    }

    hr {
        max-width: 75%;
    }

    ul {
        padding-inline-start: 2rem;
    }
}
/******************** Main Styling "End" ********************/



/******************** Footer Styling "Start" ********************/
footer {
    grid-area: footer;

    ul {
        width: 100%;
        list-style-type: none;
        padding-inline-start: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
        gap: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .facebook {
        color: var(--clr-facebook);
        border-radius: var(--border-radius-icon);
        transition: color 0.3s;
    }
    .instagram {
        color: var(--clr-instagram);
        border-radius: var(--border-radius-icon);
        transition: color 0.3s;
    }
    .telegram {
        color: var(--clr-telegram);
        border-radius: var(--border-radius-icon);
        transition: color 0.3s;
    }
    .tiktok {
        /* color: var(--clr-tiktok); */
        border-radius: var(--border-radius-icon);
        transition: color 0.3s;
    }
    .twitter {
        color: var(--clr-twitter);
        border-radius: var(--border-radius-icon);
        transition: color 0.3s;
    }
    .whatsapp {
        color: var(--clr-whatsapp);
        border-radius: var(--border-radius-icon);
        transition: color 0.3s;
    }
    
    .facebook:hover {
        color: var(--clr-facebook-hover);
    }
    .instagram:hover {
        color: var(--clr-instagram-hover);
    }
    .telegram:hover {
        color: var(--clr-telegram-hover);
    }
    .tiktok:hover {
        color: var(--clr-tiktok-hover);
    }
    .twitter:hover {
        color: var(--clr-twitter-hover);
    }
    .whatsapp:hover {
        color: var(--clr-whatsapp-hover);
    }
}
/******************** Footer Styling "End" ********************/



/******************** Media Queries Section "Start" ********************/

/******************** Media Queries Section "End" ********************/