/* In the name of Allah */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff: "Poppins", sans-serif;
    --german_flag-color-1: #DD0000;
    --german_flag-color-2: #FFCC00;
}

html {
    scroll-behavior: smooth;
    color-scheme: dark;
}

/******************** Global Styling ********************/
body {
    font-family: var(--ff);
    font-size: large;
    font-weight: bold;
    margin-inline: auto;
    margin-block: 2.5%;
    background-color: black;
    color: silver;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 
        color 0.3s,
        text-shadow 0.3s;
}
a:hover {
    text-shadow: 0 0 1rem silver;
}

/******************** Main Styling ********************/
.container {
    max-width: 90%;
    margin-inline: auto;
}

#welcome {
    text-align: center;
    border-radius: 1rem;
}

#flag {
    max-width: fit-content;
    border-radius: 1rem;
    box-shadow: 
        0 0 1.5rem 0 #F1BF00,
        0 0 1.5rem 0 #AA151B;
}

h1.espanol {
    text-align: center;
    background-image: url(../Pictures/spain-flag-xl.png);
    background-size: contain;
    background-position: 0%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1.deutsch {
    text-align: center;
    background-image: url(../Pictures/germany-flag-xl.png);
    background-size: cover;
    background-position: 0;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



.courses {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.courses > * {
    border-radius: 1rem;
    transition: box-shadow 0.3s;
    text-align: center;
    box-shadow: 0 0 0.75rem 0 var(--german_flag-color-1);
}
.courses > *:hover {
    box-shadow: 0 0 1rem 0 var(--german_flag-color-2);
}


@media (width >= 650px) {
    .courses {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}



/*************** Lectures Container ***************/
.lectures-container {
    max-width: 90%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    text-align: center;
}

.lectures-container > * {
    padding: 1rem;
    border-radius: 1rem;
    transition: box-shadow 0.3s;
    box-shadow: 0 0 0.75rem 0 var(--german_flag-color-1);
}
.lectures-container > *:hover {
    box-shadow: 0 0 0.75rem 0 var(--german_flag-color-2);
}


@media (width >= 650px) {
    .lectures-container {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}


/* div {
    border: 1px solid red;
} */