/* In the name of Allah */

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

*:before,
*:after{
    box-sizing: border-box;
}

body {
    background-color: black;
    direction: rtl;
}

h1 {
    color: gold;
    padding: 1.5rem;
    text-align: center;
    text-shadow: 0 0 1rem silver;
    box-shadow: 0 0 1rem 0 silver;
    margin-inline: auto;
}

.container {
    max-width: 90%;
    margin-inline: auto;
    margin-block: 1rem;
    border-radius: 1rem;
}

img {
    max-width: 100%;
}

#gallery {
    max-width: 100%;
    /* background-color: gray; */
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure img {
    border-radius: 1rem;
}

@media (width >= 700px) {
    #gallery {
        grid-template-columns: 1fr 1fr;
    }
}