/* In the name of Allah */
/******************** Global Styling "Start" ********************/
/* div{
    border: 1px solid red;
} */
:root{
    scroll-behavior: smooth;
    --clr-background: #0f0f0f;
    --clr-text: #5f7adb;
    --clr-color1-text: #687eff;
}

*{
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: arial;
    font-weight: bold;
    font-size: 1.5em;
    color: silver;
    direction: rtl;
    margin: 0.67em 0;
}

a{
    text-decoration: none;
    color: inherit;
}
/******************** Global Styling "End" ********************/
.container{
    max-width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 1rem;
}
.container div{
    background-color: var(--clr-background);
    color: var(--clr-text);
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 0 0.5rem var(--clr-text);
    border-radius: 1rem;
    transition-duration: 0.25s;
    transition-delay: 0ms;
}
.container div:hover{
    color: gold;
    box-shadow: 0 0 1rem silver;
    /* cursor: pointer; */
}

.container .lec-1_2:hover{
    box-shadow: 0 0px 1rem gold;
}