/* In the name of Allah */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --ff: "Poppins", sans-serif;
    --hash: #9900ff;
    --range: #ff6d01;
    --status: #b7e1cd;
    --day: #46bdc6;
    --review: #ffff00;
}



/********** General Styling **********/
body {
    font-family: var(--ff);
    font-weight: bold;
    /* background: black;
    color: white; */
    text-align: center;
}

nav {
    max-width: max-content;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.25rem 0 silver;
    opacity: 0.5;
    transition: box-shadow 0.3s, opacity 0.3s;
    position: fixed;
    top: 1.5rem;
    right: 0.5rem;

    img {
        max-width: 2rem;
    }
}
nav:hover {
    box-shadow: 0 0 1rem 0 silver;
    opacity: 1;
}

.hash {
    background-color: var(--hash);
    color: white;
}
.range {
    background-color: var(--range);
}
.status {
    background-color: var(--status);
}
.day{
    background-color: var(--day);
}
.review {
    background-color: var(--review);
}



#intro {
    text-align: center;

    > span:first-child {
        opacity: 0;
        animation: fade 2s ease-in forwards;
    }

    > h2 {
        opacity: 0;
        animation: fade 2s ease-in forwards;
        animation-delay: 2s;
    }
}
h1 .two {
    visibility: hidden;
    animation: appear 2s ease-in forwards;
    animation-delay: 9.8s;
}

#intro:not(h1) {
    font-size: larger;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes appear {
    to {
        visibility: visible;
    }
}

.one span:not(.two) {
    opacity: 0;
    animation: fascinate 1s forwards;

}
.one span:nth-child(1) {
    animation-delay: 4s;
}
.one span:nth-child(2) {
    animation-delay: 4.2s;
}
.one span:nth-child(3) {
    animation-delay: 4.4s;
}
.one span:nth-child(4) {
    animation-delay: 4.6s;
}
.one span:nth-child(5) {
    animation-delay: 4.8s;
}
.one span:nth-child(6) {
    animation-delay: 5s;
}
.one span:nth-child(7) {
    animation-delay: 5.2s;
}
.one span:nth-child(8) {
    animation-delay: 5.4s;
}
.one span:nth-child(9) {
    animation-delay: 5.6s;
}
.one span:nth-child(10) {
    animation-delay: 5.8s;
}
.one span:nth-child(11) {
    animation-delay: 6s;
}
.one span:nth-child(12) {
    animation-delay: 6.2s;
}
.one span:nth-child(13) {
    animation-delay: 6.4s;
}
.one span:nth-child(14) {
    animation-delay: 6.6s;
}
.one span:nth-child(15) {
    animation-delay: 6.8s;
}
.one span:nth-child(16) {
    animation-delay: 7s;
}
.one span:nth-child(17) {
    animation-delay: 7.2s;
}
.one span:nth-child(18) {
    animation-delay: 7.4s;
}
.one span:nth-child(19) {
    animation-delay: 7.6s;
}
.one span:nth-child(20) {
    animation-delay: 7.8s;
}
.one span:nth-child(21) {
    animation-delay: 8s;
}
.one span:nth-child(22) {
    animation-delay: 8.2s;
}
.one span:nth-child(23) {
    animation-delay: 8.4s;
}
.one span:nth-child(24) {
    animation-delay: 8.6s;
}
.one span:nth-child(25) {
    animation-delay: 8.8s;
}
.one span:nth-child(26) {
    animation-delay: 9s;
}
.one span:nth-child(27) {
    animation-delay: 9.2s;
}
.one span:nth-child(28) {
    animation-delay: 9.4s;
}

@keyframes fascinate {
    to {
        opacity: 1;
    }
}


/********** Containers Styling **********/
.container {
    display: none;
}

.container-ar, .container-en {
    /* background: red; */
    max-width: 100%;
    text-align: center;
    display: none;
}
.container-ar {
    direction: rtl;
}

#buttons, #langs {
    padding-inline: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-block-end: 2rem;

}

button:not(#version) {
    border: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: large;
    background-color: #eee;
    transition: background-color 0.3s;
    cursor: pointer;
}
button:hover {
    background-color: #aaa;
}
button:first-of-type:active {
    background-color: gold;
}
button:last-of-type:active {
    background-color: green;
}

#save {
    min-width: 25%;
    justify-content: center;
    background-color: darkred;
    color: whitesmoke;
}
#save:active {
    background-color: darkgreen;
}

#version {
    background-color: transparent;
    border: 0;
    font-size: medium;
    transform: rotate(-15deg);
    position: absolute;
    top: 1rem;
    right: 1rem;
    box-shadow: 0 0 1rem 0 black;
    border-radius: 1rem;
}

table {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-collapse: collapse;

    thead tr > * {
        padding: 0.5rem;
    }

    .date {
        padding: 0.25rem;
    }
}

.table {
    overflow-x: auto;
}

select, option {
    font-family: var(--ff);
    font-weight: bold;
}

.program_o-ar,
.program_b-ar,
.program_o-en,
.program_b-en {
    display: none;
}

.date,
.spaced-repeat {
    font-family: var(--ff);
    font-weight: bold;
}

#instructions_ar {
    text-align: justify;
}
#instructions_en {
    text-align: justify;
}

ol > li:not(:nth-child(2)) {
    padding-block-end: 1rem;
}
ul > li {
    padding-block-end: 0.5rem;
}
ul > li:nth-child(3) {
    padding-block-end: 1rem;
}