<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Yuan Samuel Andrès">
        <meta name="viewport" content="width=width-device, initial-scale=1.0">

        <link rel="stylesheet" href="../../CSS/Questions/global.css">
        <title>Question </title>
    </head>

    <body>
        <div class="main">
            <div id="opening">
                <audio autoplay>
                    <source src="../../Music/seeking.mp3">
                </audio>
            </div>
            <div id="q-photo">
                <a href="../../Pictures/Questions" target="_blank" title="Question ">
                    <img src="../../Pictures/Questions" alt="Question ">
                </a>
            </div>
            <div class="info">
                <p>
                    <span class="q"></span>
                </p>
                <p>مع ذكر <a href=".html" target="_blank" title="الدليل">
                    <span class="e">الدليل</span>
                </a>
            </p>
            </div>
        </div>
        
        <div id="footer">
            <hr>
            <p>Serial Code: </p>
            <hr>
        </div>
    </body>
</html>